# Environment variables
.env

# Database files
*.sqlite

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
.Python
env/
venv/
ccflask/
build/
develop-eggs/
dist/
*.egg-info/
.installed.cfg
*.egg
.DS_Store
