# Flask
Flask

# Flask components for forms/database/bootstrap
Flask-Migrate
Flask-Script
Flask-SQLAlchemy
Flask-WTF

# External libraries
twilio
python-dotenv


# Development
flake8
black
wtforms>=3.0.0a1 # not directly required, pinned by Snyk to avoid a vulnerability
